containers/app/app-fontes-4.0.0/opt/infra/sei/web/ws/assinador.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions 
   name="AssinadorWS"
   targetNamespace="assinadorns" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="assinadorns" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
   
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="assinadorns">
           
    <xsd:complexType name="ArrayOfIdDocumentoAssinado">
      <xsd:sequence>
      	<xsd:element name="IdDocumentoAssinado" type="xsd:string" minOccurs="0" maxOccurs="unbounded"></xsd:element>                          
      </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="ArrayOfTamanhoAssinatura">
      <xsd:sequence>
      	<xsd:element name="TamanhoAssinatura" type="xsd:int" minOccurs="0" maxOccurs="unbounded"></xsd:element>                          
      </xsd:sequence>
    </xsd:complexType>
                                   
  </xsd:schema>
  </wsdl:types>

  <wsdl:message name="obterDocumentosAgrupadorRequest">
    <wsdl:part name="Versao" type="xsd:string" />
    <wsdl:part name="Agrupador" type="xsd:string" />
  </wsdl:message>

  <wsdl:message name="obterDocumentosAgrupadorResponse">
    <wsdl:part name="documentos" type="xsd:string" />
  </wsdl:message>

  <wsdl:message name="obterDocumentoAssinaturaRequest">
    <wsdl:part name="Versao" type="xsd:string" />
    <wsdl:part name="IdAssinatura" type="xsd:string" />
    <wsdl:part name="IdDocumento" type="xsd:string" />       
  </wsdl:message>
	 
  <wsdl:message name="obterDocumentoAssinaturaResponse">
  	<wsdl:part name="base64DocumentoAssinatura" type="xsd:string" />
  </wsdl:message>

  <wsdl:message name="enviarAssinaturasDocumentosRequest">
    <wsdl:part name="Versao" type="xsd:string" />
  	<wsdl:part name="arrIdsDocumentosAssinados" type="tns:ArrayOfIdDocumentoAssinado" />
    <wsdl:part name="Base64PacoteAssinaturas" type="xsd:string" />
    <wsdl:part name="HashPacoteAssinaturas" type="xsd:string" />
    <wsdl:part name="arrTamanhosAssinaturas" type="tns:ArrayOfTamanhoAssinatura" />
    <wsdl:part name="arrIdsAssinaturas" type="xsd:string" />
  </wsdl:message>
	 
  <wsdl:message name="enviarAssinaturasDocumentosResponse">
   <wsdl:part name="retorno" type="xsd:string" />
  </wsdl:message>
  
  <wsdl:portType name="assinadorPortType">

    <wsdl:operation name="obterDocumentosAgrupador">
      <wsdl:documentation>Recupera os documentos associados com o agrupador</wsdl:documentation>
      <wsdl:input message="tns:obterDocumentosAgrupadorRequest"/>
      <wsdl:output message="tns:obterDocumentosAgrupadorResponse"/>
    </wsdl:operation>

    <wsdl:operation name="obterDocumentoAssinatura">
       <wsdl:documentation>Obtencao do hash de documento para assinatura</wsdl:documentation>
       <wsdl:input message="tns:obterDocumentoAssinaturaRequest"/>
       <wsdl:output message="tns:obterDocumentoAssinaturaResponse"/>
    </wsdl:operation>

    <wsdl:operation name="enviarAssinaturasDocumentos">
       <wsdl:documentation>Recebimento de assinaturas</wsdl:documentation>
       <wsdl:input message="tns:enviarAssinaturasDocumentosRequest"/>
       <wsdl:output message="tns:enviarAssinaturasDocumentosResponse"/>
    </wsdl:operation>
    
  </wsdl:portType>
   
  <wsdl:binding name="assinadorBinding" type="tns:assinadorPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="obterDocumentosAgrupador">
      <soap:operation soapAction="assinadorns/obterDocumentosAgrupador"/>
      <wsdl:input>
        <soap:body namespace="assinadorns" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="assinadorns" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="obterDocumentoAssinatura">
      <soap:operation soapAction="assinadorns/obterDocumentoAssinatura"/>
      <wsdl:input>
        <soap:body namespace="assinadorns" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="assinadorns" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="enviarAssinaturasDocumentos">
      <soap:operation soapAction="assinadorns/enviarAssinaturasDocumentos"/>
      <wsdl:input>
        <soap:body namespace="assinadorns" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="assinadorns" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
           
  </wsdl:binding>
  
  <wsdl:service name="assinadorService">
    <wsdl:port name="assinadorPortService" binding="tns:assinadorBinding">
      <soap:address location="[servidor]/ws/AssinadorWS.php"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>